<h1>Listing books</h1>


<% @books.each do |book| %>
      
<h2><%= book.title %></h2>
<h3><%= book.author %></h3>   
<h4><%= book.price %></h4>
<h5><%= book.isbn10 %><h5>
<h5><%= book.isbn13 %></h5>
<h5><%= book.total_pages%></h5>
<h5><%= book.publisher%></h5>
<h5><%= book.language %></h5>
<%= link_to 'Show', book %>
<%= link_to 'Edit', edit_book_path(book) %>
<%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<br>

<%= link_to 'New Book', new_book_path %>
